DEPLOY_NAME=cryptomonitor-backend
DEPLOY_HOST=TODO
DEPLOY_PORT=4000

DEPLOY_SOURCE_DIR="~/apps/$DEPLOY_NAME/"
DEPLOY_BRANCH="master"

DB_NAME="cryptomonitor_production"
DB_DUMP_DIR="~/dumps/$DEPLOY_NAME"
DB_DUMP_NAME="$DB_NAME-$(date +%s).sql"

POSTGRES_PASS=""
