{
  "development": {
    "cipher_key": "Kdi4EEmSru",
    "postgres_password": null,
    "sparkpost_key": ""
  },
  "test": {
    "cipher_key": "fvucrPXg82",
    "postgres_password": null,
    "sparkpost_key": ""

  },
  "production": {
    "cipher_key": "",
    "postgres_password": "",
    "sparkpost_key": ""
  }
}
